<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body class="bg-slate-900">
    <nav class="nav-bar">
        <div class="icon-nav">
            <i class="fas fa-moon"></i>
            <span class="logo">Your logo</span>
        </div>

        <ul class="list-nav-bar active">
            <li class="list-item"><a href="/">home</a></li>
            <li class="list-item"><a href="/add">Add Blog</a></li>
            <% if (typeof user !== 'undefined') { %>
            <li class="list-item"><a href="/signout">Signout</a></li>
            <% } else { %>
            <li class="list-item"><a href="/Login">Login</a></li>
            <% } %>
        </ul>
    </nav>


